<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../../css/style.css" rel="stylesheet">
</head>
<body>
    <div id="footer">
         SDDance &reg;
    </div>
</body>
</html>